@charset "UTF-8";

.wrap{
	margin-left: 280px;
	width: calc(100% - 280px);
	background-color: rgb(240, 240, 240);
	padding: 20px;
	min-height: 100vh;
}

.wrap .content {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 3px 3px 10px 1px rgb(77, 71, 71);
}